{% extends 'home/base.html' %}
{% block content %}
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <strong><h4>Introduction</h4></strong>
                <p>Welcome to our website! As a solo web developer, I've crafted this platform using a combination of Bootstrap for front-end design and Django for the robust backend functionality. This website aims to provide you with a seamless and engaging experience while delivering valuable content and services.</p>
                <strong><h4>Purpose & Design Philosophy</h4></strong>
                <p>The primary purpose of this website is to serve as a hub for information, resources, and services related to various topics. From informative articles to interactive tools, we strive to offer a well-rounded experience that caters to your needs.</p>
                <p>The design of this website is centered around user experience and simplicity. The Bootstrap framework has allowed me to create responsive and visually appealing layouts that adapt to different devices and screen sizes. The goal is to make navigation intuitive and content easy to consume.</p>
                <strong><h4>Features</h4></strong>
                <ul>
                    <li><p>Responsive Design: The website is designed to work flawlessly across different devices, ensuring that users have a consistent experience whether they're on a desktop, tablet, or smartphone.</p></li>
                    <li><p>Engaging Content: You'll find a range of articles, blogs, and resources that cover a variety of topics. These are presented in a user-friendly format to encourage exploration.</p></li>
                    <li><p>Engaging Content: You'll find a range of articles, blogs, and resources that cover a variety of topics. These are presented in a user-friendly format to encourage exploration.</p></li>
                </ul>

                <strong><h4>Connect With Me</h4></strong>
                <p>As a solo developer, I'm dedicated to providing the best experience possible. If you have any questions, feedback, or suggestions, feel free to reach out through the contact form or social media links provided. Your input is invaluable and helps me continuously improve this platform.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}